@tailwind base;


@tailwind components;

@font-face {
    font-family: 'LeagueSpartan';
    src: local('LeagueSpartan'), url(./fonts/LeagueSpartan/LeagueSpartan-Bold.otf) format('otf');
}

@tailwind utilities;

body {
    margin: 0;
    font-family: 'LeagueSpartan', serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fbc22f;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
